<%- include("partials/header") %>

<% blogs.forEach(function(blog){ %>
<div>
	
	<img src="<%= blog.image %>">
	<h1>
		<%= blog.title %>
	</h1>
	<soan><%= blog.created %></soan>
	<p>
		<%= blog.body %>
	</p>
	<a href="/blogs/<%= blog._id %>">Read more</a>
</div>

<% })%>

<%- include("partials/footer") %>